# Node.js / React Native / Expo
node_modules/
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Metro
.metro-health-check*

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.tmp
*.temp

# Expo/React Native caches
.expo/
.expo-shared/

# React Native iOS/Android build outputs
ios/build/
android/app/build/
*.keystore

# Native signing / provisioning files
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Environment files (API keys, secrets)
.env
.env.local
.env.*.local

# Backend (.NET Core)
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.env



# Editor and IDE settings
.vscode/
.vs/

# ASP.NET Core secret manager
secrets.json

# Docker
docker-compose.override.yml
Dockerfile*
*.env

# MongoDB (local database files)
*.lock
*.pid

# Python cache
__pycache__/
*.pyc

# Bash scripts (temporary swap files)
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Git
.gitignore
